*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html{
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu{
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #000 !important;
  display: none !important;
  z-index: 10000 !important;

  @media screen and (max-width: 750px) {
      display: flex !important;
      position: absolute !important;
      width: 100vw !important;
      height: 100vh !important;
      z-index: 1000 !important;
  }
}

.btn-close{
  color: #fff !important;
  border-radius: 58px !important;
  position: absolute !important;
  top: 20px !important;
  right: 20px !important;
  width: 58px !important;
  height: 58px !important;
  display: flex !important;
  justify-content: center !important; 
  align-items: center !important;
  font-size: 20px !important;
  cursor: pointer !important;
}

.overlaylink{
  text-decoration: none !important;
  margin: 2rem !important;
}

form{
  @media screen and (max-width: 1110px) {
      margin: 2rem auto;
  }
  @media screen and (max-width: 530px) {
      width: 90vw;
  }
}

input, textarea{
  padding: 5px;
  margin-top: 10px;
  background-color: #171717;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  max-width: 500px;
}

.projectimage{
  width: 400px;
}